<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/><!-- 设置苹果工具栏颜色:默认值为 default，可以定为 black和 black-translucent-->
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="telphone=no, email=no"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
	<meta name="keywords" content="CAST,cast,Cast招新,招新页面" author="Kapechen,Mr.Gu">
	<title>CAST招新</title>
	<!--<link rel="stylesheet" href="../public/css/swiper-3.4.2.min.css">-->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" /> 
	<link rel="stylesheet" type="text/css" href="../public/css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript">
   	$youziku.load(".ziti", "cae7c563cb2444189bf3f7a27aa58d69", "LiDeBiao-Xing3");
   	$youziku.draw();
	</script>
</head>
<body>
	<div class="swiper-container">
		<!-- 基本 -->
		<div class="swiper-wrapper">
			<div class="swiper-slide first-slide">
				<!-- 第一页制作 -->
				<!-- 粒子效果 -->
				<canvas id="canvas"></canvas>
				<!-- 粒子效果结束 -->
				<p class="ani ziti" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.8s" swiper-animate-delay="0.5s">终于等到你！</p>
				<p class="ani ziti" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.8s" swiper-animate-delay="1.3s">莫忘来时路，莫负少年途</p>
				<p class="ani ziti" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.8s" swiper-animate-delay="2.1s">愿你能加入科协</p>
				<p class="ani ziti" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.8s" swiper-animate-delay="2.9s">活出更精彩的自己!</p>
				<p class="ani ziti" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.8s" swiper-animate-delay="3.7s">左翻进入下一页</p>

			</div>
			<!-- 第二页制作 -->
			<div class="swiper-slide second-slide">
				<div class="sign">		
					<img src="images/logo.png" id="logo">
				</div>
				<div class="link">
					<p class="alinkone"><a href="register">科协在线报名</a></p>
					<p class="alinktwo"><a href="update">报名信息修改</a></p>
				</div>
			</div>
		</div>
	</div>
	

	<!-- js文件 -->
	<script src="../public/js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-2.1.3.min.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../public/js/jquery-2.1.3.min.js"></script>-->
	<script src="../public/js/firstPage.js"></script>
	<script src="js/firstPage.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script src="../public/js/swiper.animate1.0.3.min.js"></script> 
	<script src="js/swiper.animate1.0.3.min.js"></script>
	
</body>
<script type="text/javascript">
	//初始化Swiper
	var mySwiper = new Swiper(
		'.swiper-container',{
		direction:'horizontal', 
		loop: true,
		effect : 'flip',
		flip: {
            slideShadows : true,
            limitRotation : true,
        },
        setWrapperSize : true,
		onInit: function(swiper){
		      swiperAnimateCache(swiper);
		      swiperAnimate(swiper);
   		 }, 
    	onSlideChangeEnd: function(swiper){ 
      		swiperAnimate(swiper);
    	}, 
	});


</script>
</html>